<?xml version="1.0" encoding="utf-8"?>
<!--
    SPDX-FileCopyrightText: 2020 Volker Krause <vkrause@kde.org>
    SPDX-License-Identifier: CC0-1.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.kde.solidextras">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
