[Desktop Entry]
Type=Service
Name=Tickets and boarding passes
Name[ca]=Entrades i passis d'embarcament
Name[es]=Billetes y tarjetas de embarque
Name[fr]=Billets et cartes d'embarquement
Name[it]=Biglietti e carte d'imbarco
Name[nl]=Tickets en boardingpassen
Name[sv]=Biljetter och boardingkort
Name[uk]=Квитки та посадкові талони
Name[x-test]=xxTickets and boarding passesxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/vnd.apple.pkpass;
X-KDE-Library=itinerarythumbnail
CacheThumbnail=false # FIXME
