[Desktop Entry]
Type=Service
Name=Tickets and boarding passes
Name[ca]=Entrades i passis d'embarcament
Name[ca@valencia]=Entrades i passes d'embarcament
Name[es]=Billetes y tarjetas de embarque
Name[fr]=Billets et cartes d'embarquement
Name[ia]=Billetes e carts de imbarcar
Name[it]=Biglietti e carte d'imbarco
Name[ko]=입장권, 승차권, 탑승권
Name[nl]=Tickets en boardingpassen
Name[pl]=Bilety i karty pokładowe
Name[pt_BR]=Passagens e cartões de embarque
Name[sl]=Vozovnice in vstopni kuponi
Name[sv]=Biljetter och boardingkort
Name[uk]=Квитки та посадкові талони
Name[x-test]=xxTickets and boarding passesxx
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/vnd.apple.pkpass;
X-KDE-Library=itinerarythumbnail
CacheThumbnail=false # FIXME
