[Desktop Entry]
Name=KDE Itinerary
Name[ca]=KDE Itinerary
Name[ca@valencia]=KDE Itinerary
Name[es]=KDE Itinerary
Name[fr]=KDE Itinerary
Name[gl]=KDE Itinerary
Name[it]=KDE Itinerary
Name[nl]=KDE Itinerary
Name[pl]=KDE Itinerary
Name[pt]=KDE Itinerary
Name[sk]=KDE Itinerár
Name[sv]=KDE-resplan
Name[uk]=KDE Itinerary
Name[x-test]=xxKDE Itineraryxx
GenericName=Itinerary management
GenericName[ca]=Gestió de l'itinerari
GenericName[ca@valencia]=Gestió de l'itinerari
GenericName[es]=Gestión de itinerarios
GenericName[fr]=Gestion d'itinéraires
GenericName[gl]=Xestión de itinerarios
GenericName[it]=Gestione degli itinerari
GenericName[nl]=Beheer van reisroute
GenericName[pl]=Zarządzanie planem podróży
GenericName[pt]=Gestão de itinerários
GenericName[sk]=Správa itinerára
GenericName[sv]=Hantering av resplan
GenericName[uk]=Керування маршрутом
GenericName[x-test]=xxItinerary managementxx
Exec=itinerary %f
Icon=map-globe
Type=Application
Comment=Travel assistance application.
Comment[ca]=Aplicació per a l'assistència en viatge.
Comment[ca@valencia]=Aplicació per a l'assistència en viatge.
Comment[cs]=Pomocník při cestování.
Comment[es]=Aplicación de asistencia para viajes.
Comment[fr]=Application d'aide à l'organisation de trajets et voyages.
Comment[gl]=Aplicativo de asistencia de viaxe.
Comment[it]=Applicazione di assistenza dei viaggi.
Comment[nl]=Toepassing voor hulp bij reizen.
Comment[pl]=Aplikacja pomagająca w podróży.
Comment[pt]=Aplicação de assistência a viagens.
Comment[sk]=Aplikácia na pomoc s cestovaním.
Comment[sv]=Resehjälpprogram.
Comment[uk]=Програма-помічник у подорожах.
Comment[x-test]=xxTravel assistance application.xx
Terminal=false
MimeType=application/vnd.apple.pkpass;application/ld+json;application/pdf;
Categories=Qt;KDE;
